<br>
<div class="row">
	<div class="large-5 columns panel callout radius">
		<h3 align="center"><strong>NUESTRA MISIÓN</strong></h3>
		<p>Ser la tienda favorita, del mercado popular, ofreciendo a crédito y fácilmente, la mejor variedad de productos
		   y servicios, para toda la familia y el hogar, a buenos <%= link_to 'precios', 'http://intranet.cln/dec/decisiones/pdf/decision89-A.pdf', title: "Continuar leyendo", data: {tooltip: true} %>...</p>
	</div>
	<div class="large-5 columns panel callout radius">
		<h3 align="center"><strong>NUESTRA VISION</strong></h3>
		<p>Darnos cuenta que entra el cliente a la tienda, hacérselo saber, saludarlo con amabilidad, 
		   abordarlo cuando lo desea, ayudarle realmente a realizar su compra, tener lo que necesita, 
		   <%= link_to 'venderle', 'http://intranet.cln/dec/decisiones/pdf/decision89.pdf', title: "Continuar leyendo", data: {tooltip: true} %>...</p>
	</div>
</div>
<div class="row">
	<div class="large-12 columns panel callout radius">
		<h3 align="center"><strong>POLITICAS DE COMPRAS</strong></h3>
		<p>
			Comprar para un mercado popular, de crédito, de volumen (podamos ser lideres), de 
			necesidad, apoyándose en los datos estadísticos que nos proporciona el sistema de 
			Coppel, y de acuerdo a lo establecido en el Manual Técnico de MCC Compras Muebles. 
			El Comprador debe conocer el mercado de productos y el de Coppel, y apoyar su compra 
			en sus conocimientos de esto. <br><br>
			
			Comprar los artículos <%= link_to 'líderes', "http://intranet.cln/dec/decisiones/pdf/decision5.pdf", title: "Continuar leyendo", data: {tooltip: true} %>...
		</p>
	</div>
</div>