<br>
<div class="row">
	<div class="large-5 columns panel callout radius">
		<h3 align="center"><strong>NUESTRA MISIÓN</strong></h3>
		<p>Mision</p>
	</div>
	<div class="large-5 columns panel callout radius">
		<h3 align="center"><strong>NUESTRA VISION</strong></h3>
		<p>Vision</p>
	</div>
</div>
<div class="row">
	<div class="large-12 columns panel callout radius">
		<h3 align="center"><strong>NUESTRA POLITICA</strong></h3>
		<p>
			Politica
		</p>
	</div>
</div>
