<div class="container">
  <div class="row">
  	<h3>Users</h3>
  	<div class="columns">
  	  <table class="table-format">
  	    <tbody>
  	      <td class="title-center">Account number</td>
  	      <td>Name</td>
  	      <td colspan="3" class="table-header-format">Role</td>
  	      <% @user.each do |user| %>
  	        <tr>
  	          <%= render user%>
  	        </tr>
  	      <% end %>
  	    </tbody>
  	  </table>
  	</div>
  </div>
</div>