@import "bordes";
  
$color_fondo: #FFFFE0;

.body_color {
  background-color: $color_fondo;
}

.align_text {
  text-align: center;
}

.button_rounds_format {
  @include border_rounder(180px, 10px);
}

.image-decoration {
  border-radius: 50%;
  width: 3.5em;
  height: 2.7em;
  border: 3px solid #C2E4F5;
  margin: 0;
  padding: 0;
}

.title-center-table {
  text-align: center;
}

.notice {
  padding: 1em;
  margin-bottom: 2em;
}

#column-menu {
  background: #333;
  
  .main-position {
    margin-left: 17em;
    padding: 1em;
  }
  
  #side {
    float: left;
    padding: 1em 3em;
    width: 13em;
    background: #333;

    ul {
      padding: 0;

      li {
        list_style: none;

        a {
          color: white;
          font-size: small;
        }
      }
    }
  }
}