// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dropdown-backcolor {
  background-color: black;
}

.table-header-format {
  text-align: center;
}

.table-format {
  margin: 0;
  padding: 0;
}

.img-show-format {
  height: 8em;
}
