<div class="sticky">
  <nav class="top-bar title-height" data-topbar data-no-turbolink role="navigation" aria-hidden="true" data-options="sticky_on: large">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to t('label-navegacion.home'), root_path %></h1>
      </li>
      <li class="toggle-topbar menu-icon">
    	  <a href="#">Menu</a>
      </li>
    </ul>
    <div class="top-bar-section">
      <ul class="right">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </nav>
</div>
